@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #408E91;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
}

#root{
  flex: 1;
}

.main{
    min-height: 700px;
    display: flex;
    flex-direction: column;
}

.header {
  position: relative;
  margin-top: 20px;
  flex: 1;
}

.header h1 {
  font-size: 70px;
  color: #245953;
  margin: 0;
  font-weight: 600;
}

.logo {
  position: absolute;
  font-size: 80px;
  color: #fff;
  left: 340px;
  z-index: -99;
  font-weight: 700;
  top: 0;
}

.logo2 {
  position: absolute;
  left: 340px;
  top: 50px;
  margin-left: 20px;

}

.container{
  flex:4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn{
  background-color: #245953;
  border: #245953;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 1.1em;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.setting-btn{
  font-size: 2.5em;
  color: #245953;
  cursor: pointer;
}

.timer-window{
background-color: #fff;
width: 550px;
height: 300px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 0.61);
font-family: 'Orbitron', sans-serif;
display: flex;
justify-content: center;
align-items: center;
font-weight: 600;
font-size: 7.5em;
color: #245953;
}

.footer-button{
  display: flex;
  justify-content: center;
}